//
// Colors
//

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$teal: #17a2b8;
$teal-dark: #0f6674;

// Override Bootstrap default state colors

$primary: $teal;
$secondary: $teal-dark;
$link-color: $teal;
$link-hover-color: $teal-dark;
